{
  "builders": [
    {
      "changes": [
        "ENTRYPOINT [\"\"]",
        "CMD [\"\"]"
      ],
      "commit": true,
      "image": "{{ image }}",
      "type": "docker",
      "run_command": ["-d", "-i", "-t", "--network=host", "--", "{{ '{{.Image}}' }}"],
      "pull": false
    }
  ],
  "description": "Create mjonuschat/borgmatic docker image",
  "post-processors": [
    [
      {
        "repository": "{{ repository }}",
        "tags": "{{ tag }}",
        "type": "docker-tag"
      }
    ]
  ],
  "provisioners": [
    {
      "scripts": [
        "scripts/prepare.sh"
      ],
      "type": "shell"
    },
    {
      "cookbook_paths": [
        "cookbooks"
      ],
      "chef_license": "accept-silent",
      "version": "16.6",
      "json": {},
      "prevent_sudo": true,
      "run_list": [
        "container_borgmatic"
      ],
      "skip_install": false,
      "type": "chef-solo"
    },
    {
      "scripts": [
        "scripts/remove-chef.sh",
        "scripts/cleanup.sh"
      ],
      "type": "shell"
    }
  ],
  "variables": {
  }
}