{
  "builders": [
    {
      "changes": [
        "ENTRYPOINT [\"/sbin/my_init\"]",
        "EXPOSE 80"
      ],
      "commit": true,
      "image": "{{ image }}",
      "type": "docker",
      "run_command": ["-d", "-i", "-t", "--network=host", "--", "{{ '{{.Image}}' }}"],
      "pull": false
    }
  ],
  "description": "Create mjonuschat/baseimage Docker image",
  "post-processors": [
    [
      {
        "repository": "{{ repository }}",
        "tag": "{{ tag }}",
        "type": "docker-tag"
      }
    ]
  ],
  "provisioners": [
    {
      "cookbook_paths": [
        "cookbooks"
      ],
      "chef_license": "accept-silent",
      "version": "16.6",
      "prevent_sudo": true,
      "run_list": [
        "container_rails"
      ],
      "skip_install": false,
      "type": "chef-solo"
    },
    {
      "scripts": [
        "scripts/remove-chef.sh",
        "scripts/cleanup.sh"
      ],
      "type": "shell"
    }
  ],
  "variables": {
    "ruby_version": "{{ ruby_version }}"
  }
}
